:root {
    --error: #EE5253;
    --background: #222831;
    --primary: #393E46;
    --text-primary: #eeeeee;
    --button-primary: #00ADB5;
    --shadow: #00000020;
    --shadow-light: #ffffff08;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, serif;
    font-size: 1.125rem;
    line-height:1.5;
    background: var(--background);
}

#sticky-container{
    position: sticky;
    top: 0px;
    background: var(--background);
    margin-bottom: 1rem;
    border-radius: 0 0 8px 8px;
}

.main-content{
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

p{
    color: var(--text-primary);
}