/*Styling for AutoComplete*/
#results{
    position: absolute;
    z-index: 1;
    background: var(--text-primary);
    overflow: scroll;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    max-height: 300px;
}

#results ul{
    list-style: none;
    font-size: .8rem;
}

#results ul{
    list-style: none;
    font-size: .8rem;
}

#results ul li{
    padding: .5rem 1rem;
    text-align: left;
}

#results ul li:hover{
    background: rgba(238, 238, 238, 0.55);
}

#results::-webkit-scrollbar{
    display: none;
}

